@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<img src="../Assets/picture/Pic1.png" id="pic1">
<div class="title">
    <h2>TRUNG TÂM BẢO DƯỠNG VÀ SỬA CHỮA Ô TÔ  FAST LEOPARD GARA</h2>
    <div class="line"></div>
</div>
<p>Fast Leopard gara là một trong những garage ô tô chuyên chăm sóc, bảo dưỡng, sửa chữa xe ô tô cao cấp như: Mercedes-Benz, BMW, Audi, Bentley, Porsche,… Gara ô tô Fast Leopard ra đời với mục đích bảo vệ an toàn và làm đẹp cho những chiếc xe ô tô đời mới, chúng tôi luôn không ngừng nâng cấp các dịch vụ ngày càng trở nên chất lượng và chân thật hơn. Mong muốn đưa các dịch vụ của Fast Leopard gara đến với nhiều khách hàng hơn và luôn vì lợi ích của khách hàng.</p>
<div class="title2">
    <h2>Dịch vụ</h2>
    <div class="line2"></div>
</div>

<div id=service>
    <div class="services">
        <h2>Dịch vụ sửa xe</h2>
        <img src="../Assets/picture/FixCar.jpg">
    </div>
    <div class="services">
        <h2>Dịch vụ rửa xe</h2>
        <img src="../Assets/picture/WashCar.jpg">
    </div>
    <div class="services">
        <h2>Dịch vụ bảo dưỡng</h2>
        <img src="../Assets/picture/Maintenance.jpg">
    </div>
</div>
<div class="title3">
    <h2>Vì sao chọn chúng tôi</h2>
    <div class="line3"></div>
</div>
<div id="reason">
    <div class="reasons">
        <h2>TRUNG THỰC</h2>
        <p>Trung thực là yếu tố hàng đầu.</p>
        <p>Chúng tôi cam kết sự trung thực từ tư vấn đến hành động với tất cả quý khách hàng, nội bộ chúng tôi và cộng đồng.</p>
    </div>
    <div class="reasons">
        <h2>TẬN TÂM</h2>
        <p>Đến với chúng tối, Quý khách sẽ cảm nhận sự tận tâm trong công việc ngay từ những việc nhỏ nhất.</p>
    </div>
    <div class="reasons">
        <h2>TRÁCH NHIỆM</h2>
        <p>Chúng tôi cam kết trách nhiệm với tất cả Quý khách hàng và đối tác về tất cả các nghiệp vụ mà chúng tôi tư vấn và thực hiện.</p>
    </div>
    <div class="reasons">
        <h2>CHIA SẺ</h2>
        <p>Chúng tôi sẵn sàng chia sẻ kinh nghiệm, hỗ trợ kỹ thuật với Quý khách hàng, đối tác và cộng đồng..</p>
    </div>
</div>
    <div class="title2">
        <h2>Đối tác</h2>
        <div class="line2"></div>
    </div>
    <div id="reason">
        <div id="partner">
            <img src="../Assets/picture/PETRO.png">
            <img src="../Assets/picture/751.jpg">
            <img src="../Assets/picture/ACC.jpg">
            <img src="../Assets/picture/BAOVIET.png">
            <img src="../Assets/picture/Liberty.png">
            <img src="../Assets/picture/QUATEST.jpg">
        </div>
    </div>


    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Đăng nhập</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <!-- <div id="logreg-forms"> -->
                    <form class="form-signin">

                        <input style="width: 400px;margin: 0 auto;margin-top: 10px;margin-bottom: 10px;" type="text" id="inputEmail" class="form-control" placeholder="Tài khoản" required="" autofocus="">
                        <input style="width: 400px;margin: 0 auto;margin-top: 10px;margin-bottom: 10px;" type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu" required="">
                        <button style="width: 300px;margin: 0 auto;margin-top: 10px;margin-bottom: 10px;" class="btn btn-success btn-block" type="submit"><i class="glyphicon glyphicon-log-in"></i> Đăng nhập</button>
                        <a href="#" id="forgot_pswd">Quên mật khẩu?</a>
                        <!-- <hr> -->
                    </form>

                    <!-- </div> -->
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

